<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HBO MOVIETALK ;D</title>
    <link rel="stylesheet" href="{% static 'stylei.css' %}">
</head>
<body>
    <div id="navbar">
        <img src="{% static 'Preview1.png' %}" id="logo">
        <div class="links">
            <a href="/iniciarsesionmt">Iniciar Sesion</a>
            <a href="/registrarsemt">Registrate</a>
        </div>
    </div>
    <div id="baner">
        <div class="palabras">
            <p>Que la funcion no termine</p>
            <p>Contacta a nuestros especialistas</p>
            <button><a href="/iniciarsesionmt">Conversemos</a></button>
        </div>
    </div>

</body>
<footer style="text-align: center; position: relative; width: 100%;">
    <p>&copy; 2024 HBOMAX. Todos los derechos reservados </p>
</footer>
</html>